# Python cache
*.pyc
__pycache__/

# Django DB file
db.sqlite3

# Media and static (generated)
media/
staticfilesforproduction/
#don't publish it as same hi files hongi

# Virtual environment
iotenv/

# IDE files
.idea
.ideabackup/
.vscode/
*.code-workspace

# Environment variables
config/.env
config/.env.simulated

